<div class="post-page d-flex flex-column p-3" style='width: 50vw; margin: auto;'>
  <div class="large-post">
    <h2><%= @post.title + ' by ' + @user.name%></h2>
    <p>
        Comments: <%= @post.commentsCounter %>,
        Likes: <%= @post.likesCounter %>
    </p>
    <p><%= @post.text %></p>
    <%= form_with model: @like, url: like_post_path, class: 'form-group', scope: :form_comment  do |form| %>
      	<%= form.submit 'Like Post', class: "btn btn-danger mt-3" %>
    <% end %>
    <%# delete post if user is admin%>
    <% if can? :manage, @post %>
      <%= link_to 'Delete Post', @post,  data: { confirm: 'Are you sure?', turbo_method: :delete }, class: "btn btn-danger mt-3" %>
    <% end %>
  </div>
  <div class="comments mt-4">
		<h3>Comments</h3>
    <div style='width: 30vw; margin: 2rem auto;'>
      <%= form_with model: @comment, url: post_path, class: 'form-group', scope: :form_comment  do |form| %>
      	<%= form.text_area :text, class: 'form-control' %>
      	<%= form.submit 'Add comment', class: "btn btn-primary mt-3" %>
      <% end %>
    </div>

    <% @post.comments.each do |comment| %>
      <p>
        <%= User.find(comment.author_id).name %>: <%= comment.text %>
      </p>
        <%# if the comment is of the user he can delete it %>
         <% if can? :manage, comment %>
          <%= link_to 'Delete Comment', destroy_comment_path(comment: comment.id), data: { turbo_method: :delete }, class: "btn btn-danger" %>
        <% end %>
    <% end %>
  </div>
</div>